@page
@model KoiDeliveryManagement.RazorWebApp.Pages.Transactions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PaymentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PaymentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.IsSuccessful)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.IsSuccessful)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TransactionStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TransactionStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TransactionFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TransactionFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.RefundAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.RefundAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.RefundDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.RefundDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Order.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
