@page
@model KoiDeliveryManagement.RazorWebApp.Pages.Transactions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].IsSuccessful)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].LastUpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].LastUpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].DeletedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSuccessful)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
